################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/GithubNew/v16
/.vs
/C++/slownik/.vs/Dictionary/v16
/C++/slownik/.vs/Dictionary/v15
