<button type="button" class="btn btn-success" (click)="getHotels()">getHotels</button>
<button type="button" class="btn btn-success"(click)="getHotel()">getHotel</button>
<button type="button" class="btn btn-success"(click)="addHotel()">addHotel</button>
<button type="button" class="btn btn-success"(click)="updateHotel()">updateHotel</button>
<button type="button" class="btn btn-success"(click)="deleteHotel()">deleteHotel</button>
<button type="button" class="btn btn-success"(click)="changeHotel()">changeHotel</button>
<!-- Creates a layout with a left-positioned sidenav and explicit content. -->
<mat-sidenav-container  class="example-container" >
  <mat-sidenav #sidenav mode="side" [opened]="true" (keydown.escape)="close('escape')" disableClose>
    <p><button mat-button (click)="close('toggle button')">Toggle</button></p>
    <app-calendar></app-calendar>

  </mat-sidenav>
  <mat-sidenav-content>
    <p><button mat-button (click)="sidenav.open()">Open</button></p>
    <p>Closed due to: {{reason}}</p>
    <nav class="navbar navbar-expand navbar-dark bg-dark py-3">
  <div class="container">
  <div class="navbar-brand">HotelSite</div>
  <ul class="navbar-nav ml-auto">
    <li><a class="nav-item nav-link" routerLink="/">Nie jesteś zalogowany - zaloguj się</a></li>
    <li class="nav-item text-light pt-2 pr-5" *ngIf="loggedUser">Logged in as {{loggedUser.name}} {{loggedUser.surname}},  {{loggedUser.role}}</li>
    <li><a class="nav-item nav-link" routerLink="/">Home</a></li>
    <li *ngIf="authenticationService.isUserLoggedIn"><a class="nav-item nav-link" (click)="logout()">Logout</a></li>
  </ul>
  </div>
</nav>
    <nav class="navbar navbar-expand navbar-dark bg-dark py-3">
      <div class="container">
        <div class="navbar-brand"></div>
        <ul class="navbar-nav ml-auto">
            <input type="login" id="username"  class="form-control" placeholder="login" required autofocus>
            <label for="password" class="sr-only">Hasło</label>
            <input type="password" id="password" class="form-control" placeholder="Hasło" required>

            <button class="btn btn-lg btn-primary btn-block" type="submit" style="height:40px;width:300px;font-size:small" value="Login">Zaloguj się</button>
        </ul>
      </div>
    </nav>
    <nav class="navbar navbar-expand navbar-dark bg-dark py-3">
      <div class="container">
        <ul class="navbar-nav ml-auto">
          <a id="forgotPassword" class="nav-item nav-link" routerLink="/" style="position: absolute;left: 10px;">Zapomniałem hasła</a>
          <div id="lower" class="checkbox mb-3">

            <label>
              <input type="checkbox" value="remember-me"  style="color:white"><span id="cb_span"> Pamiętaj mnie</span>
            </label>


          </div>


          <li class="nav-item text-light pt-2 pr-5" *ngIf="loggedUser">Logged in as {{loggedUser.name}} {{loggedUser.surname}},  {{loggedUser.role}}</li>

          <li *ngIf="authenticationService.isUserLoggedIn"><a class="nav-item nav-link" (click)="logout()">Logout</a></li>
        </ul>
      </div>
    </nav>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item">
              <a routerLink="/users" class="btn btn-info">List Users</a>
                </li>
            <li class="list-inline-item">
              <a routerLink="/adduser" class="btn btn-info">Add User</a>
                </li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

  </mat-sidenav-content>
</mat-sidenav-container>
