<button type="button" class="btn btn-success" (click)="getHotels()">getHotels</button>
<button type="button" class="btn btn-success"(click)="getHotel()">getHotel</button>
<button type="button" class="btn btn-success"(click)="addHotel()">addHotel</button>
<button type="button" class="btn btn-success"(click)="updateHotel()">updateHotel</button>
<button type="button" class="btn btn-success"(click)="deleteHotel()">deleteHotel</button>
<button type="button" class="btn btn-success"(click)="changeHotel()">changeHotel</button>
<!-- Creates a layout with a left-positioned sidenav and explicit content. -->
<mat-sidenav-container  class="example-container" >
  <mat-sidenav #sidenav mode="side" [opened]="true" (keydown.escape)="close('escape')" disableClose>
    <p><button mat-button (click)="close('toggle button')">Toggle</button></p>
    <app-calendar></app-calendar>

  </mat-sidenav>
  <mat-sidenav-content>
    <p><button mat-button (click)="sidenav.open()">Open</button></p>
    <p>Closed due to: {{reason}}</p>
    <nav class="navbar navbar-expand navbar-dark bg-dark py-3">
  <div class="container">
  <div class="navbar-brand">HotelSite</div>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item text-light pt-2 pr-5" *ngIf="loggedUser">Logged in as {{loggedUser.name}} {{loggedUser.surname}},  {{loggedUser.role}}</li>
    <li><a class="nav-item nav-link" routerLink="/">Home</a></li>
    <li *ngIf="authenticationService.isUserLoggedIn"><a class="nav-item nav-link" (click)="logout()">Logout</a></li>
  </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item">
              <a routerLink="/users" class="btn btn-info">List Users</a>
                </li>
            <li class="list-inline-item">
              <a routerLink="/adduser" class="btn btn-info">Add User</a>
                </li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

  </mat-sidenav-content>
</mat-sidenav-container>
