<form (ngSubmit)="onSubmit()" #form="ngForm">
<table class="table-striped table-bordered">
  <thead>
  <tr>
  <th>Nazwa typu pokoju</th>
  <th>Typ wybrany w rezerwacji</th>
  </tr>
  </thead>
  <tbody>
  <tr><td>Czas rezerwacji</td><td></td></tr>
  <tr><td>Liczba łózek w pokoju</td>><td></td></tr>
  <tr><td>Wybrany typ poduszki</td>><td></td></tr>
  <tr><td>Czy pokój ma być blisko windy</td>><td></td></tr>
  <tr><td>Czy pokój ma mieć balkon</td>><td></td></tr>
  <tr><td>Czy pokój ma mieć piękny widok z okien</td>><td></td></tr>
  <tr><td>Piętro, na którym znajduje się pokój</td>><td></td></tr>
  <tr><td>Cena</td></tr>
  </tbody>
</table>
  <div class="form-group" >
    <button class="btn btn-dark btn-block" (click)="onSubmit()" >

      Book a room
    </button>
  </div>
</form>
