<div class="row">
  <div class="col-12">
    <div class="card p-2 mt-3" *ngFor="let reservation of reservations$ | async" style="background-color: bisque">
      <table class="table-striped table-bordered" style="float: left">
        <tbody>
        <div *ngFor="let user of users$ | async" >
        <tr *ngIf="user.id===reservation.userId" style="background-color: burlywood"><td>Czas rezerwacji</td><td> od {{ reservation.startDate.substr(8,2)}}
          {{this.translatorService.translateMonthStringToPolish(reservation.startDate.substr(5,2))}}
          {{ reservation.startDate.substr(0,4)}}
          od godziny {{ translatorService.fixUnproperHour(reservation.startDate.substr(11,2))}} do
          {{ reservation.endDate.substr(8,2)}}
          {{this.translatorService.translateMonthStringToPolish(reservation.endDate.substr(5,2))}}
          {{reservation.endDate.substr(0,4)}}
          do godziny {{ translatorService.fixUnproperHour(reservation.endDate.substr(11,2))}}</td><td *ngIf="!details">
          <button class="btn btn-sm btn-info" (click)="check(reservation)">Zobacz szczegółowe dane rezerwującego </button></td>
          <td *ngIf="details">
          <button class="btn btn-sm btn-info" (click)="return()">Ukryj szczegółowe dane rezerwującego </button></td>
        <tr *ngIf="user.id===reservation.userId" style="background-color: burlywood"><td>Cena rezerwacji</td><td>{{this.reservation.price.toFixed(2)}} złotych</td><td>
          <button class="btn btn-sm btn-danger" (click)="delete(reservation)"> Usuń rezerwację  </button> </td></tr>

          <tr *ngIf="details && user.id===reservation.userId" style="background-color: burlywood"><td>Dane rezerwującego</td>
            <td>nazwa użytkownika: {{user.username}}</td>
            <td>imię: {{user.name}}</td>
            <td>nazwisko: {{user.surname}}</td>
            <td>mail: {{user.email}}</td>
        </div>

        </tbody>
      </table>
    </div>
  </div>
</div>

