<div class="navbar-brand" >Aktualne rodzaje pokoi w Hotelu:</div>
<br>
<br>
<div class="row" >

  <table style="margin: 1pt auto 1pt auto;line-height: 20px; " *ngIf="!noRooms" >

    <tr *ngFor="let parameter of parameters$ | async" style=" border: 1px solid black; float: left">

      <th style="width: 8%; border: 10px solid lightblue; background-color: lightblue "> {{ parameter.name }}</th>
    </tr>

    <tr *ngFor="let room of rooms$ | async " style=" margin: 0pt auto 0pt auto;line-height: 20px; width: 100%;float: left">
       <div *ngFor="let parameter of parameters$ | async">
      <td *ngIf="parameter.typeId===0 && parameter.typeNumber===0"  style="width: 14%;border: 1px solid black;float: left; background-color: lightblue">{{ room.number1}}</td>
      <td *ngIf="parameter.typeId===0 && parameter.typeNumber===1"  style="width: 8%;border: 1px solid black;float: left; background-color: lightblue">{{ room.number2}}</td>
      <td *ngIf="parameter.typeId===0 && parameter.typeNumber===2"  style="width: 19%;border: 1px solid black;float: left; background-color: lightblue">{{ room.number3}}</td>
      <td *ngIf="parameter.typeId===0 && parameter.typeNumber===3"  style="width: 20%;border: 1px solid black;float: left; background-color: lightblue">{{ room.number4}}</td>
      <td *ngIf="parameter.typeId===0 && parameter.typeNumber===4"  style="width: 4%;border: 1px solid black;float: left; background-color: lightblue">{{ room.number5}}</td>
      <td *ngIf="parameter.typeId===0 && parameter.typeNumber===5"  style="width: 18%;border: 1px solid black;float: left; background-color: lightblue">{{ room.number6}}</td>
      <td *ngIf="parameter.typeId===0 && parameter.typeNumber===6"  style="width: 12%;border: 1px solid black;float: left; background-color: lightblue">{{ room.number7}}</td>
      <td *ngIf="parameter.typeId===0 && parameter.typeNumber===7"  style="width: 5%;border: 1px solid black;float: left; background-color: lightblue">{{ room.number8}}</td>
      <td *ngIf="parameter.typeId===0 && parameter.typeNumber===8"  style="width: 8%;border: 1px solid black;float: left; background-color: lightblue">{{ room.number9}}</td>
      <td *ngIf="parameter.typeId===0 && parameter.typeNumber===9"  style="width: 8%;border: 1px solid black;float: left; background-color: lightblue">{{ room.number10}}</td>
      <td *ngIf="parameter.typeId===0 && parameter.typeNumber===10"  style="width: 8%;border: 1px solid black;float: left; background-color: lightblue">{{ room.number11}}</td>
      <td *ngIf="parameter.typeId===0 && parameter.typeNumber===11"  style="width: 8%;border: 1px solid black;float: left; background-color: lightblue">{{ room.number12}}</td>

      <td *ngIf="parameter.typeId===1 && parameter.typeNumber===0"  style="width: 5%;border: 1px solid black;float: left; background-color: lightblue">{{ room.number13}}</td>
      <td *ngIf="parameter.typeId===1 && parameter.typeNumber===1"  style="width: 8%;border: 1px solid black;float: left; background-color: lightblue">{{ room.number14}}</td>
      <td *ngIf="parameter.typeId===1 && parameter.typeNumber===2"  style="width: 8%;border: 1px solid black;float: left; background-color: lightblue">{{ room.number15}}</td>
      <td *ngIf="parameter.typeId===1 && parameter.typeNumber===3"  style="width: 8%;border: 1px solid black;float: left; background-color: lightblue">{{ room.number16}}</td>
      <td *ngIf="parameter.typeId===1 && parameter.typeNumber===4"  style="width: 8%;border: 1px solid black;float: left; background-color: lightblue">{{ room.number17}}</td>
      <td *ngIf="parameter.typeId===1 && parameter.typeNumber===5"  style="width: 8%;border: 1px solid black;float: left; background-color: lightblue">{{ room.number18}}</td>
      <td *ngIf="parameter.typeId===1 && parameter.typeNumber===6"  style="width: 8%;border: 1px solid black;float: left; background-color: lightblue">{{ room.number19}}</td>
      <td *ngIf="parameter.typeId===1 && parameter.typeNumber===7"  style="width: 8%;border: 1px solid black;float: left; background-color: lightblue">{{ room.number20}}</td>
      <td *ngIf="parameter.typeId===1 && parameter.typeNumber===8"  style="width: 8%;border: 1px solid black;float: left; background-color: lightblue">{{ room.number21}}</td>
      <td *ngIf="parameter.typeId===1 && parameter.typeNumber===9"  style="width: 8%;border: 1px solid black;float: left; background-color: lightblue">{{ room.number22}}</td>

      <td *ngIf="parameter.typeId===2 && parameter.typeNumber===0"  style="width: 8%;border: 1px solid black;float: left; background-color: lightblue">{{ room.string1}}</td>
      <td *ngIf="parameter.typeId===2 && parameter.typeNumber===1"  style="width: 8%;border: 1px solid black;float: left; background-color: lightblue">{{ room.string2}}</td>
      <td *ngIf="parameter.typeId===2 && parameter.typeNumber===2"  style="width: 8%;border: 1px solid black;float: left; background-color: lightblue">{{ room.string3}}</td>
      <td *ngIf="parameter.typeId===2 && parameter.typeNumber===3"  style="width: 8%;border: 1px solid black;float: left; background-color: lightblue">{{ room.string4}}</td>
      <td *ngIf="parameter.typeId===2 && parameter.typeNumber===4"  style="width: 8%;border: 1px solid black;float: left; background-color: lightblue">{{ room.string5}}</td>
      <td *ngIf="parameter.typeId===2 && parameter.typeNumber===5"  style="width: 8%;border: 1px solid black;float: left; background-color: lightblue">{{ room.string6}}</td>
      <td *ngIf="parameter.typeId===2 && parameter.typeNumber===6"  style="width: 8%;border: 1px solid black;float: left; background-color: lightblue">{{ room.string7}}</td>
      <td *ngIf="parameter.typeId===2 && parameter.typeNumber===7"  style="width: 8%;border: 1px solid black;float: left; background-color: lightblue">{{ room.string8}}</td>
      <td *ngIf="parameter.typeId===2 && parameter.typeNumber===8"  style="width: 8%;border: 1px solid black;float: left; background-color: lightblue">{{ room.string9}}</td>
      <td *ngIf="parameter.typeId===2 && parameter.typeNumber===9"  style="width: 8%;border: 1px solid black;float: left; background-color: lightblue">{{ room.string10}}</td>
      <td *ngIf="parameter.typeId===2 && parameter.typeNumber===10"  style="width: 8%;border: 1px solid black;float: left; background-color: lightblue">{{ room.string11}}</td>
      <td *ngIf="parameter.typeId===2 && parameter.typeNumber===11"  style="width: 8%;border: 1px solid black;float: left; background-color: lightblue">{{ room.string12}}</td>

      <td *ngIf="parameter.typeId===3 && parameter.typeNumber===0"  style="width: 15%;border: 1px solid black;float: left; background-color: lightblue">{{ room.boolean1}}</td>
      <td *ngIf="parameter.typeId===3 && parameter.typeNumber===1"  style="width: 10%;border: 1px solid black;float: left; background-color: lightblue">{{ room.boolean2}}</td>
      <td *ngIf="parameter.typeId===3 && parameter.typeNumber===2"  style="width: 12%;border: 1px solid black;float: left; background-color: lightblue">{{ room.boolean3}}</td>
      <td *ngIf="parameter.typeId===3 && parameter.typeNumber===3"  style="width: 12%;border: 1px solid black;float: left; background-color: lightblue">{{ room.boolean4}}</td>
      <td *ngIf="parameter.typeId===3 && parameter.typeNumber===4"  style="width: 8%;border: 1px solid black;float: left; background-color: lightblue">{{ room.boolean5}}</td>
      <td *ngIf="parameter.typeId===3 && parameter.typeNumber===5"  style="width: 8%;border: 1px solid black;float: left; background-color: lightblue">{{ room.boolean6}}</td>
      <td *ngIf="parameter.typeId===3 && parameter.typeNumber===6"  style="width: 8%;border: 1px solid black;float: left; background-color: lightblue">{{ room.boolean7}}</td>
      <td *ngIf="parameter.typeId===3 && parameter.typeNumber===7"  style="width: 8%;border: 1px solid black;float: left; background-color: lightblue">{{ room.boolean8}}</td>
      <td *ngIf="parameter.typeId===3 && parameter.typeNumber===8"  style="width: 8%;border: 1px solid black;float: left; background-color: lightblue">{{ room.boolean9}}</td>
      <td *ngIf="parameter.typeId===3 && parameter.typeNumber===9"  style="width: 8%;border: 1px solid black;float: left; background-color: lightblue">{{ room.boolean10}}</td>
      <td *ngIf="parameter.typeId===3 && parameter.typeNumber===10"  style="width: 8%;border: 1px solid black;float: left; background-color: lightblue">{{ room.boolean11}}</td>
      <td *ngIf="parameter.typeId===3 && parameter.typeNumber===11"  style="width: 8%;border: 1px solid black;float: left; background-color: lightblue">{{ room.boolean12}}</td>
 </div>
 </tr>

  </table>
  <div  *ngFor="let parameter of parameters$ | async" style="width: 100%; ">
  <form  class="form-group" #form="ngForm">
  <!--<input *ngIf="confirmed" type="number" class="form-control col-md-2 col-1 mt-1 text-center" id="numberOfRoomsAvailable"
         [(ngModel)]="data.numberOfRoomsAvailable" placeholder="liczba dostępnych pokoi" name="numberOfRoomsAvailable" style="float: left" required>
  <input *ngIf="confirmed" type="number" class="form-control col-md-2 col-1 mt-1 text-center" id="numberOfBeds"
         [(ngModel)]="data.numberOfBeds" placeholder="liczba łóżek" name="numberOfBeds" style="float: left" required>
  <input *ngIf="confirmed" type="number" class="form-control col-md-2 col-1 mt-1 text-center" id="checkInTime"
         [(ngModel)]="data.checkInTime" placeholder="godzina rozpoczęcia doby hotelowej" name="checkInTime" style="float: left" required>
  <input *ngIf="confirmed" type="number" class="form-control col-md-2 col-1 mt-1 text-center" id="checkOutTime"
         [(ngModel)]="data.checkOutTime" placeholder="godzina zakończenia doby hotelowej" name="checkOutTime" style="float: left" required>
  <input *ngIf="confirmed" type="number" step="0.01" class="form-control col-md-2 col-1 mt-1 text-center" id="price"
         [(ngModel)]="data.price" placeholder="Cena jednej doby" name="price" style="float: left" required>!-->


      <input *ngIf="confirmed && parameter.typeId===0 && parameter.typeNumber===0" type="number"  class="form-control col-md-2 col-1 mt-1 text-center" id="number1"
             [(ngModel)]="data.number1" placeholder="{{parameter.name}}" name="{{parameter.name}}" style="margin: 1pt auto 1pt auto;" required>
      <input *ngIf="confirmed && parameter.typeId===0 && parameter.typeNumber===1" type="number"  class="form-control col-md-2 col-1 mt-1 text-center" id="number2"
             [(ngModel)]="data.number2" placeholder="{{parameter.name}}" name="{{parameter.name}}" style="margin: 1pt auto 1pt auto;" required>
      <input *ngIf="confirmed && parameter.typeId===0 && parameter.typeNumber===2" type="number" class="form-control col-md-2 col-1 mt-1 text-center"  id="number3"
             [(ngModel)]="data.number3" placeholder="{{parameter.name}}" name="{{parameter.name}}" style="margin: 1pt auto 1pt auto;" required>
      <input *ngIf="confirmed && parameter.typeId===0 && parameter.typeNumber===3" type="number" class="form-control col-md-2 col-1 mt-1 text-center"  id="number4"
             [(ngModel)]="data.number4" placeholder="{{parameter.name}}" name="{{parameter.name}}" style="margin: 1pt auto 1pt auto;" required>
      <input *ngIf="confirmed && parameter.typeId===0 && parameter.typeNumber===4" type="number"  class="form-control col-md-2 col-1 mt-1 text-center" id="{{parameter.name}}"
             [(ngModel)]="data.number5" placeholder="{{parameter.name}}" name="{{parameter.name}}" style="margin: 1pt auto 1pt auto;" required>
      <input *ngIf="confirmed && parameter.typeId===0 && parameter.typeNumber===5" type="number"  class="form-control col-md-2 col-1 mt-1 text-center" id="{{parameter.name}}"
             [(ngModel)]="data.number6" placeholder="{{parameter.name}}" name="{{parameter.name}}" style="margin: 1pt auto 1pt auto;" required>
      <input *ngIf="confirmed && parameter.typeId===0 && parameter.typeNumber===6" type="number"  class="form-control col-md-2 col-1 mt-1 text-center" id="{{parameter.name}}"
             [(ngModel)]="data.number7" placeholder="{{parameter.name}}" name="{{parameter.name}}" style="margin: 1pt auto 1pt auto;" required>
      <input *ngIf="confirmed && parameter.typeId===0 && parameter.typeNumber===7" type="number" class="form-control col-md-2 col-1 mt-1 text-center" id="{{parameter.name}}"
             [(ngModel)]="data.number8" placeholder="{{parameter.name}}" name="{{parameter.name}}" style="margin: 1pt auto 1pt auto;" required>
      <input *ngIf="confirmed && parameter.typeId===0 && parameter.typeNumber===8" type="number" class="form-control col-md-2 col-1 mt-1 text-center" id="{{parameter.name}}"
             [(ngModel)]="data.number9" placeholder="{{parameter.name}}" name="{{parameter.name}}" style="margin: 1pt auto 1pt auto;" required>
      <input *ngIf="confirmed && parameter.typeId===0 && parameter.typeNumber===9" type="number"  class="form-control col-md-2 col-1 mt-1 text-center" id="{{parameter.name}}"
             [(ngModel)]="data.number10" placeholder="{{parameter.name}}" name="{{parameter.name}}" style="margin: 1pt auto 1pt auto;" required>
      <input *ngIf="confirmed && parameter.typeId===0 && parameter.typeNumber===10" type="number"  class="form-control col-md-2 col-1 mt-1 text-center" id="{{parameter.name}}"
             [(ngModel)]="data.number11" placeholder="{{parameter.name}}" name="{{parameter.name}}" style="margin: 1pt auto 1pt auto;" required>
      <input *ngIf="confirmed && parameter.typeId===0 && parameter.typeNumber===11" type="number"  class="form-control col-md-2 col-1 mt-1 text-center" id="{{parameter.name}}"
             [(ngModel)]="data.number12" placeholder="{{parameter.name}}" name="{{parameter.name}}" style="margin: 1pt auto 1pt auto;" required>

      <input *ngIf="confirmed && parameter.typeId===1 && parameter.typeNumber===1" type="number" step="0.01" class="form-control col-md-2 col-1 mt-1 text-center" id="{{parameter.name}}"
             [(ngModel)]="data.number13" placeholder="{{parameter.name}}" name="{{parameter.name}}" style="margin: 1pt auto 1pt auto;" required>
      <input *ngIf="confirmed && parameter.typeId===1 && parameter.typeNumber===2" type="number" step="0.01" class="form-control col-md-2 col-1 mt-1 text-center" id="{{parameter.name}}"
             [(ngModel)]="data.number14" placeholder="{{parameter.name}}" name="{{parameter.name}}" style="margin: 1pt auto 1pt auto;" required>
      <input *ngIf="confirmed && parameter.typeId===1 && parameter.typeNumber===3" type="number" step="0.01" class="form-control col-md-2 col-1 mt-1 text-center" id="{{parameter.name}}"
             [(ngModel)]="data.number15" placeholder="{{parameter.name}}" name="{{parameter.name}}" style="margin: 1pt auto 1pt auto;"  required>
      <input *ngIf="confirmed && parameter.typeId===1 && parameter.typeNumber===4" type="number" step="0.01" class="form-control col-md-2 col-1 mt-1 text-center" id="{{parameter.name}}"
             [(ngModel)]="data.number16" placeholder="{{parameter.name}}" name="{{parameter.name}}" style="margin: 1pt auto 1pt auto;" required>
      <input *ngIf="confirmed && parameter.typeId===1 && parameter.typeNumber===5" type="number" step="0.01" class="form-control col-md-2 col-1 mt-1 text-center" id="{{parameter.name}}"
             [(ngModel)]="data.number17" placeholder="{{parameter.name}}" name="{{parameter.name}}" style="margin: 1pt auto 1pt auto;"  required>
      <input *ngIf="confirmed && parameter.typeId===1 && parameter.typeNumber===6" type="number" step="0.01" class="form-control col-md-2 col-1 mt-1 text-center" id="{{parameter.name}}"
             [(ngModel)]="data.number18" placeholder="{{parameter.name}}" name="{{parameter.name}}" style="margin: 1pt auto 1pt auto;"  required>
      <input *ngIf="confirmed && parameter.typeId===1 && parameter.typeNumber===7" type="number" step="0.01" class="form-control col-md-2 col-1 mt-1 text-center" id="{{parameter.name}}"
             [(ngModel)]="data.number19" placeholder="{{parameter.name}}" name="{{parameter.name}}" style="margin: 1pt auto 1pt auto;"  required>
      <input *ngIf="confirmed && parameter.typeId===1 && parameter.typeNumber===8" type="number" step="0.01" class="form-control col-md-2 col-1 mt-1 text-center" id="{{parameter.name}}"
             [(ngModel)]="data.number20" placeholder="{{parameter.name}}" name="{{parameter.name}}" style="margin: 1pt auto 1pt auto;"  required>
      <input *ngIf="confirmed && parameter.typeId===1 && parameter.typeNumber===9" type="number" step="0.01" class="form-control col-md-2 col-1 mt-1 text-center" id="{{parameter.name}}"
             [(ngModel)]="data.number21" placeholder="{{parameter.name}}" name="{{parameter.name}}" style="margin: 1pt auto 1pt auto;"  required>
      <input *ngIf="confirmed && parameter.typeId===1 && parameter.typeNumber===10" type="number" step="0.01" class="form-control col-md-2 col-1 mt-1 text-center" id="{{parameter.name}}"
             [(ngModel)]="data.number22" placeholder="{{parameter.name}}" name="{{parameter.name}}" style="margin: 1pt auto 1pt auto;"  required>

      <input *ngIf="confirmed && parameter.typeId===2 && parameter.typeNumber===0" type="text"  class="form-control col-md-2 col-1 mt-1 text-center" id="{{parameter.name}}"
             [(ngModel)]="data.string1" placeholder="{{parameter.name}}" name="{{parameter.name}}" style="margin: 1pt auto 1pt auto;"  required>
      <input *ngIf="confirmed && parameter.typeId===2 && parameter.typeNumber===1" type="text" class="form-control col-md-2 col-1 mt-1 text-center" id="{{parameter.name}}"
             [(ngModel)]="data.string2" placeholder="{{parameter.name}}" name="{{parameter.name}}" style="margin: 1pt auto 1pt auto;" required>
      <input *ngIf="confirmed && parameter.typeId===2 && parameter.typeNumber===2" type="text" class="form-control col-md-2 col-1 mt-1 text-center" id="{{parameter.name}}"
             [(ngModel)]="data.string3" placeholder="{{parameter.name}}" name="{{parameter.name}}" style="float: left" required>
      <input *ngIf="confirmed && parameter.typeId===2 && parameter.typeNumber===3" type="text"  class="form-control col-md-2 col-1 mt-1 text-center" id="{{parameter.name}}"
             [(ngModel)]="data.string4" placeholder="{{parameter.name}}" name="{{parameter.name}}" style="float: left" required>
      <input *ngIf="confirmed && parameter.typeId===2 && parameter.typeNumber===4" type="text"  class="form-control col-md-2 col-1 mt-1 text-center" id="{{parameter.name}}"
             [(ngModel)]="data.string5" placeholder="{{parameter.name}}" name="{{parameter.name}}" style="float: left" required>
      <input *ngIf="confirmed && parameter.typeId===2 && parameter.typeNumber===5" type="text"  class="form-control col-md-2 col-1 mt-1 text-center" id="{{parameter.name}}"
             [(ngModel)]="data.string6" placeholder="{{parameter.name}}" name="{{parameter.name}}" style="float: left" required>
      <input *ngIf="confirmed && parameter.typeId===2 && parameter.typeNumber===6" type="text"  class="form-control col-md-2 col-1 mt-1 text-center" id="{{parameter.name}}"
             [(ngModel)]="data.string7" placeholder="{{parameter.name}}" name="{{parameter.name}}" style="float: left" required>
      <input *ngIf="confirmed && parameter.typeId===2 && parameter.typeNumber===7" type="text"  class="form-control col-md-2 col-1 mt-1 text-center" id="{{parameter.name}}"
             [(ngModel)]="data.string8" placeholder="{{parameter.name}}" name="{{parameter.name}}" style="float: left" required>
      <input *ngIf="confirmed && parameter.typeId===2 && parameter.typeNumber===8" type="text" class="form-control col-md-2 col-1 mt-1 text-center" id="{{parameter.name}}"
             [(ngModel)]="data.string9" placeholder="{{parameter.name}}" name="{{parameter.name}}" style="float: left" required>
      <input *ngIf="confirmed && parameter.typeId===2 && parameter.typeNumber===9" type="text"  class="form-control col-md-2 col-1 mt-1 text-center" id="{{parameter.name}}"
             [(ngModel)]="data.string10" placeholder="{{parameter.name}}" name="{{parameter.name}}" style="float: left" required>
      <input *ngIf="confirmed && parameter.typeId===2 && parameter.typeNumber===10" type="text"  class="form-control col-md-2 col-1 mt-1 text-center" id="{{parameter.name}}"
             [(ngModel)]="data.string11" placeholder="{{parameter.name}}" name="{{parameter.name}}" style="float: left" required>
      <input *ngIf="confirmed && parameter.typeId===2 && parameter.typeNumber===11" type="text"  class="form-control col-md-2 col-1 mt-1 text-center" id="{{parameter.name}}"
             [(ngModel)]="data.string12" placeholder="{{parameter.name}}" name="{{parameter.name}}" style="float: left" required>

      <input *ngIf="confirmed && parameter.typeId===3 && parameter.typeNumber===0" type="text"  class="form-control col-md-2 col-1 mt-1 text-center" id="{{parameter.name}}"
             [(ngModel)]="data.boolean1" placeholder="{{parameter.name}}" name="{{parameter.name}}" style="margin: 1pt auto 1pt auto;"  required>
      <input *ngIf="confirmed && parameter.typeId===3 && parameter.typeNumber===1" type="text" class="form-control col-md-2 col-1 mt-1 text-center" id="{{parameter.name}}"
             [(ngModel)]="data.boolean2" placeholder="{{parameter.name}}" name="{{parameter.name}}" style="margin: 1pt auto 1pt auto;"  required>
      <input *ngIf="confirmed && parameter.typeId===3 && parameter.typeNumber===2" type="text"  class="form-control col-md-2 col-1 mt-1 text-center" id="{{parameter.name}}"
             [(ngModel)]="data.boolean3" placeholder="{{parameter.name}}" name="{{parameter.name}}" style="margin: 1pt auto 1pt auto;" required>
      <input *ngIf="confirmed && parameter.typeId===3 && parameter.typeNumber===3" type="text"  class="form-control col-md-2 col-1 mt-1 text-center" id="{{parameter.name}}"
             [(ngModel)]="data.boolean4" placeholder="{{parameter.name}}" name="{{parameter.name}}" style="margin: 1pt auto 1pt auto;" required>
      <input *ngIf="confirmed && parameter.typeId===3 && parameter.typeNumber===4" type="text" class="form-control col-md-2 col-1 mt-1 text-center" id="{{parameter.name}}"
             [(ngModel)]="data.boolean5" placeholder="{{parameter.name}}" name="{{parameter.name}}" style="float: left" required>
      <input *ngIf="confirmed && parameter.typeId===3 && parameter.typeNumber===5" type="text" class="form-control col-md-2 col-1 mt-1 text-center" id="{{parameter.name}}"
             [(ngModel)]="data.boolean6" placeholder="{{parameter.name}}" name="{{parameter.name}}" style="float: left" required>
      <input *ngIf="confirmed && parameter.typeId===3 && parameter.typeNumber===6" type="text"  class="form-control col-md-2 col-1 mt-1 text-center" id="{{parameter.name}}"
             [(ngModel)]="data.boolean7" placeholder="{{parameter.name}}" name="{{parameter.name}}" style="float: left" required>
      <input *ngIf="confirmed && parameter.typeId===3 && parameter.typeNumber===7" type="text"  class="form-control col-md-2 col-1 mt-1 text-center" id="{{parameter.name}}"
             [(ngModel)]="data.boolean8" placeholder="{{parameter.name}}" name="{{parameter.name}}" style="float: left" required>
      <input *ngIf="confirmed && parameter.typeId===3 && parameter.typeNumber===8" type="text" class="form-control col-md-2 col-1 mt-1 text-center" id="{{parameter.name}}"
             [(ngModel)]="data.boolean9" placeholder="{{parameter.name}}" name="{{parameter.name}}" style="float: left" required>
      <input *ngIf="confirmed && parameter.typeId===3 && parameter.typeNumber===9" type="text"  class="form-control col-md-2 col-1 mt-1 text-center" id="{{parameter.name}}"
             [(ngModel)]="data.boolean10" placeholder="{{parameter.name}}" name="{{parameter.name}}" style="float: left" required>
      <input *ngIf="confirmed && parameter.typeId===3 && parameter.typeNumber===10" type="text" class="form-control col-md-2 col-1 mt-1 text-center" id="{{parameter.name}}"
             [(ngModel)]="data.boolean11" placeholder="{{parameter.name}}" name="{{parameter.name}}" style="float: left" required>
      <input *ngIf="confirmed && parameter.typeId===3 && parameter.typeNumber===11" type="text"  class="form-control col-md-2 col-1 mt-1 text-center" id="{{parameter.name}}"
             [(ngModel)]="data.boolean12" placeholder="{{parameter.name}}" name="{{parameter.name}}" style="float: left" required>


  </form>
  <button style="margin: 1pt auto 1pt auto;" *ngIf="confirmed && parameter.id===8" [disabled]="form.invalid" class="btn btn-sm btn-info" (click)="add(data)">Dodaj typ pokoju</button>
</div>
</div>
  <div>
  <div *ngIf="noRooms && !confirmed" style="margin: 1pt auto 1pt auto;"class="navbar-brand" ><b> Brak pokoi istniejących w systemie, w celu dodania pokoi, kliknij poniższy przycisk!</b></div>
</div>
<br>
<div class="form-group">
  <button *ngIf="!confirmed" class="btn btn-sm btn-info" (click)="openDialog()">Edytuj parametry</button>
</div>
