<button type="button" class="btn btn-success" (click)="getHotels()">getHotels</button>
<button type="button" class="btn btn-success"(click)="getHotel()">getHotel</button>
<button type="button" class="btn btn-success"(click)="addHotel()">addHotel</button>
<button type="button" class="btn btn-success"(click)="updateHotel()">updateHotel</button>
<button type="button" class="btn btn-success"(click)="deleteHotel()">deleteHotel</button>
<button type="button" class="btn btn-success"(click)="changeHotel()">changeHotel</button>
