<div class="form-group">
  <button *ngIf="!confirmed" class="btn btn-sm btn-info" (click)="registerUser()">Dodaj użytkownika</button>
</div>
<div class="form-group">
  <button *ngIf="!confirmed" class="btn btn-sm btn-info" (click)="deleteUser()">Usuń użytkownika</button>
</div>
<div *ngIf="confirmed" >
  <div class="card-body">
    <table class="table table-bordered table-striped" style="background-color: lightblue">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Login</th>
        <th scope="col">Imię</th>
        <th scope="col">Nazwisko</th>
        <th scope="col">Kategoria</th>
        <th scope="col">Email</th>
        <th scope="col">Usuń użytkownika</th>
        <!-- {{getUsers()}}-->
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users$| async">
        <td>{{ user.username }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.surname }}</td>
        <td>{{ user.roleCode }}</td>
        <td>{{ user.email }}</td>
        <td><button class="btn btn-sm btn-danger" (click)="delete(user)">Usuń</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<!--<div class="row">
  <div class="col-12">
    <div class="card p-2 mt-3" *ngFor="let user of users$ | async" style="background-color: bisque">
      <table class="table-striped table-bordered" style="float: left">
        <tbody>
        <tr style="background-color: burlywood"><td>Czas rezerwacji</td><td> od {{ reservation.startDate.substr(8,2)}}
          {{this.translatorService.translateMonthStringToPolish(reservation.startDate.substr(5,2))}}
          {{ reservation.startDate.substr(0,4)}}
          od godziny {{ translatorService.fixUnproperHour(reservation.startDate.substr(11,2))}} do
          {{ reservation.endDate.substr(8,2)}}
          {{this.translatorService.translateMonthStringToPolish(reservation.endDate.substr(5,2))}}
          {{reservation.endDate.substr(0,4)}}
          do godziny {{ translatorService.fixUnproperHour(reservation.endDate.substr(11,2))}}</td><td>
          <button class="btn btn-sm btn-success" (click)="pay(reservation)">Opłać rezerwację </button></td>
        <tr style="background-color: burlywood"><td>Cena rezerwacji</td><td>{{this.reservation.price.toFixed(2)}} złotych</td><td>
          <button class="btn btn-sm btn-danger" (click)="delete(reservation)"> Usuń rezerwację  </button> </td></tr>

        </tbody>
      </table>
    </div>
  </div>
</div>!-->

