


 <mat-form-field appearance="fill">
  <mat-label>Podaj termin rezerwacji</mat-label>
  <mat-date-range-input [min]="minDate" [max]="maxDate" [rangePicker]="picker">
    <input matStartDate placeholder="Data przyjazdu">
    <input matEndDate placeholder="Data odjazdu">
  </mat-date-range-input>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>
</mat-form-field>



<input type="matInput" id="inputDate" class="form-control">
<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>

      </tr>
      </thead>

    </table>
  </div>
</div>
