
<div class="row">
  <div class="col-12">
    <div class="card p-2 mt-3" *ngFor="let parameter of parameters$ | async" style="background-color: bisque">
      <table class="table-striped table-bordered" style="float: left">
        <tbody>
        <tr style="background-color: burlywood"><td>Nazwa parametru</td><td> od {{ parameter.parameterName}}
          typ parametru {{parameter.parameterType}}</td><td>
        </tbody>
      </table>
      <button class="btn btn-sm btn-success" (click)="openDialog()">Edytuj parametry</button>
    </div>
  </div>
</div>

