wybierz, co chcesz zrobić:
<div><button class="btn btn-sm btn-info" (click)="goToEditParameters()">Przejdź do panelu zarządzania parametrami pokoi</button></div>
<br>
<div><button class="btn btn-sm btn-info" (click)="goToEditRooms()">Przejdź do panelu zarządzania typami i ilością pokoi</button></div>
<br>
<div><button class="btn btn-sm btn-info" (click)="goToUserManagement()">Przejdź do panelu zarządzania użytkownikami</button></div>
<br>
<div><button class="btn btn-sm btn-info" (click)="goToOccupancyPreview()">Przejdź do podglądu obłożenia</button></div>
<br>
<div><button class="btn btn-sm btn-info" (click)="goToReservationPreview()">Przejdź do podglądu Twoich rezerwacji</button></div>
