<mat-sidenav-container  class="example-container" >
  <mat-sidenav #sidenav mode="side" [opened]="true" (keydown.escape)="close('escape')" disableClose>
    <p><button mat-button (click)="close('toggle button')">Toggle</button></p>
    <app-calendar></app-calendar>

  </mat-sidenav>
  <mat-sidenav-content>
    <p><button mat-button (click)="sidenav.open()">Open</button></p>
    <p>Closed due to: {{reason}}</p>
    <nav class="navbar navbar-expand navbar-dark bg-dark py-3">
      <div class="container">
        <div class="navbar-brand">HotelSite</div>
        <ul class="navbar-nav ml-auto">
          <li><a class="nav-item nav-link" routerLink="/">Nie jesteś zalogowany - zaloguj się</a></li>
          <li class="nav-item text-light pt-2 pr-5" *ngIf="loggedUser">Logged in as {{loggedUser.name}} {{loggedUser.surname}},  {{loggedUser.roleCode}}</li>
          <li><a class="nav-item nav-link" routerLink="/">Home</a></li>
          <li *ngIf="authenticationService.isUserLoggedIn"><a class="nav-item nav-link" (click)="logout()">Logout</a></li>
        </ul>
      </div>
    </nav>
    <nav class="navbar navbar-expand navbar-dark bg-dark py-3">
    <div class="container">
         <div class="navbar-brand"></div>
         <ul class="navbar-nav ml-auto">
           <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
             <div style="float:left;">
             <input type="login" id="username"  formControlName="username" class="form-control" placeholder="login"  [ngClass]="{ 'is-invalid': submitted && this.loginForm.controls.username.errors }">
           <div *ngIf="submitted && this.loginForm.controls.username.errors" class="invalid-feedback">
             <div *ngIf="this.loginForm.controls.username.errors.required">Username is required</div>
           </div>
             </div>
             <div style="float:left;">
             <input  type="password" formControlName="password"  id="password" class="form-control" placeholder="Hasło"  [ngClass]="{ 'is-invalid': submitted && this.loginForm.controls.username.errors }">
               <div *ngIf="submitted && this.loginForm.controls.password.errors" class="invalid-feedback">
                 <div *ngIf="this.loginForm.controls.password.errors.required">Password is required</div>
               </div>
             </div>
             <div style="float:left;">
       <button [disabled]="loading" class="btn btn-info btn-block">
           <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
           Zaloguj się
         </button>
             </div>
           </form>
        </ul>
      </div>
      <!--<div class="col-md-4 col-12 offset-md-4 mt-5 text-center">
     <h2>Login</h2>
     <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
       <div class="form-group">
         <label for="username">Username</label>
         <input type="text" formControlName="username" id="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && this.loginForm.controls.username.errors }" />
         <div *ngIf="submitted && this.loginForm.controls.username.errors" class="invalid-feedback">
           <div *ngIf="this.loginForm.controls.username.errors.required">Username is required</div>
         </div>
       </div>
       <div class="form-group">
         <label for="password">Password</label>
         <input type="password" formControlName="password" id="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && this.loginForm.controls.password.errors }" />
         <div *ngIf="submitted && this.loginForm.controls.password.errors" class="invalid-feedback">
           <div *ngIf="this.loginForm.controls.password.errors.required">Password is required</div>
         </div>
       </div>
       <div class="form-group">
         <button [disabled]="loading" class="btn btn-dark btn-block">
           <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
           Login
         </button>
       </div>
     </form>
   </div>!-->

    </nav>
    <nav class="navbar navbar-expand navbar-dark bg-dark py-3">
      <div class="container">
        <ul class="navbar-nav ml-auto">
          <a id="forgotPassword" class="nav-item nav-link" routerLink="/" style="position: absolute;left: 10px;">Zapomniałem hasła</a>
          <div id="lower" class="checkbox mb-3">

            <label>
              <input type="checkbox" value="remember-me"  style="color:white"><span id="cb_span"> Pamiętaj mnie</span>
            </label>


          </div>


          <li class="nav-item text-light pt-2 pr-5" *ngIf="loggedUser">Logged in as {{loggedUser.name}} {{loggedUser.surname}},  {{loggedUser.roleCode}}</li>

          <li *ngIf="authenticationService.isUserLoggedIn"><a class="nav-item nav-link" (click)="logout()">Logout</a></li>
        </ul>
      </div>
    </nav>
    <!-- main app container -->
    <div class="container">
      <router-outlet></router-outlet>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card bg-dark my-5">
            <div class="card-body">
              <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
              <ul class="text-center list-inline py-3">
                <li class="list-inline-item">
                  <a routerLink="/users" class="btn btn-info">List Users</a>
                </li>
                <li class="list-inline-item">
                  <a routerLink="/adduser" class="btn btn-info">Add User</a>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>


